# docker-compose.yml

version: '3.8'
services:

  postgres:
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_USER=elpais
      - POSTGRES_PASSWORD=0009Px2##Unq
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5434:5432'

volumes:
  postgres: